header.header 
     .header__column 
       a(href="/")
        i( class = "fa-brands fa-youtube " style = "color:red;")
     .header__column 
         ul 
            li 
              a(href=routes.join) Join 
            li 
              a(href=routes.login) Log In 