doctype html
html
    head
        //link(rel="stylesheet" href="assets/css/all.css")
        
        title Youtube-Clone
    body 
        header 
          h1 Youtube 
        main  
          block content
      
          
        include ../partials/footer
          